body {
    margin: 0;
    overflow: hidden;
    font-family: "Microsoft JhengHei", sans-serif;
}

/* 地圖全螢幕 */
#map {
    width: 100vw;
    height: 100vh;
}

/* 資訊框 */
#infoBox {
    position: absolute;
    top: 20px;
    left: 20px;
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 0 8px #0004;
    z-index: 9999;
}
.hidden { display: none; }

button {
    margin-top: 10px;
    padding: 8px 12px;
    background: #0077cc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
